<!DOCTYPE html>
<html>
  <head>
    <title>RedditonRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if is_logged_in? %>
      <div>
        Current User: <%= current_user.username %>
      </div>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Sign Out">
      </form>
    <% end %>
    <%= yield %>
    <% if flash[:errors]%>
      <div><%= flash[:errors] %> </div>
    <% end %>
  </body>
</html>
